<body>
  <div *ngFor="let Bike of randomBike" class="container">
    <img src="{{Bike.imageURL}}">
    <div id="titleDesc">
      <h1>{{Bike.title}}</h1>
      <p id="description">{{Bike.description}}</p>
    </div>
    <div id="priceLoc">
      <h1 id="price">${{Bike.price}}</h1>
      <h3>{{Bike.location}}</h3>
    </div>
  </div>

  <div class="form">
    <div class="login">
      <form (submit)="login()" #logForm="ngForm" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-4" for="email">*Email:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="email" [(ngModel)]="loginInfo.email" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="password">*Password:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="password" [(ngModel)]="loginInfo.password" #logpassword="ngModel" required minlength=8>
          </div>
          <p *ngIf="logpassword.invalid && logpassword.dirty">Password minimum of 8 characters</p>
          <p *ngIf="logMessage">{{logMessage.message}}</p>
        </div>
        <input type="submit" value="Login" [disabled]="logForm.invalid">
      </form>
    </div>

    <div class="registration">
      <form (submit)="register()" #regForm="ngForm" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-4" for="first_name">*First Name:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="first_name" [(ngModel)]="newUser.first_name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="last_name">*Last Name:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="last_name" [(ngModel)]="newUser.last_name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="email">*Email:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="email" [(ngModel)]="newUser.email" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="password">*Password:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="password" [(ngModel)]="newUser.password" #password="ngModel" required minlength=8>
          </div>
        </div>
        <p *ngIf="password.invalid && password.dirty">Password minimum of 8 characters</p>
        <div class="form-group">
          <label class="control-label col-sm-4" for="confirm_password">*Password Confirmation:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="confirm_password" [(ngModel)]="newUser.confirm_password" required minlength=8>
          </div>
        </div>
        <input type="submit" value="Register" [disabled]="regForm.invalid">
        <p *ngIf="PassError">{{PassError.message}}</p>
        <p *ngIf="takenEmail">{{takenEmail.message}}</p>
      </form>
    </div>
  </div>

</body>
