#description{
  display: inline-block;
}

#price{
  display: inline-block;
}

#titleDesc{
  vertical-align: top;
  display: inline-block;
  width: 332px;
  height:210px;
}

#priceLoc{
  display: inline-block;
  vertical-align: top;
  width: 150px;
}

img{
  width:200px;
  height:150px;
}

.registration{
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: #f4f4f4;
}
.login{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 200px;
  background-color: #f4f4f4;
}
body{
  text-align: center;
}
.container{
  border-bottom: 1px solid black;
}
.form{
  display: inline-block;
  margin-top: 10px;
}
form{
  margin: 40px;
}
