.imgUpload{
  display: inline-block;
  vertical-align: top;
  width: 170px;
  text-align: left;
}
.titleDesc{
  display: inline-block;
  text-align: left;
}
.priceLocation{
  vertical-align: top;
  display: inline-block;
  width:183px;
  text-align: left;
}

.create{
  border: 1px solid black;
  background-color: green;
  cursor: pointer;
  font-size: 15px;
  width: 80px;
  height:25px;
  margin-top: 25px;
  margin-left: 8px;
}

.create:hover {background-color: #3e8e41}

.create:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.update{
  display: inline-block;
  border: 1px solid black;
  background-color: yellow;
  cursor: pointer;
  font-size: 15px;
  width: 80px;
  height: 25px;
  margin-top: 10px;
  margin-left: 13px;
}

.update:hover {background-color: #ffff004f}

.update:active {
  background-color: #ffff004f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.delete{
  display: inline-block;
  border: 1px solid black;
  background-color: red;
  cursor: pointer;
  font-size: 15px;
  width: 80px;
  height: 25px;
  margin-top: 10px;
  margin-left: 13px;
}

.delete:hover {background-color: #ff0000a3}

.delete:active {
  background-color: #ff0000a3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#imageURL{
  border: 1px solid black;
  width:150px;
  height: 126px;
  display: inline-block;
  margin-top: 23px;
}
p{
  height: 13px;
}

#createListing{
  text-align: center;
}

.titleDescInput{
  margin-top:  ;
}

.priceLocationInput{
  margin-top: ;
}
#price{
  margin-top: ;
}
#location{
  margin-top: 16px;
}
#locationInput{
  margin-left: 7px;
}
#warning{
  font-size: 11px;
  color: red;
  margin-top: 32px;
  margin-left: 10px;
}

.url{
  margin-bottom: 36px;
  margin-right: 22px;
}
